<div class="s3-rds-creation-dialog-wrapper">
  <div class="ec2-creation-title">
    <h2>S3 creation</h2>
  </div>
  <div class="s3-rds-creation-form-container">
    <form [formGroup]="S3RDSCreationDialog" (ngSubmit)="createS3AndRDS()">
      <div class="form-fields-container">
        <div>
          <mat-form-field>
            <mat-label>S3 bucket name</mat-label>
            <input formControlName="bucketName" required type="text" matInput>
            <mat-error *ngIf="this.S3RDSCreationDialog.get('bucketName')">Only a-z and numbers characters</mat-error>
          </mat-form-field>
        </div>
        <div class="s3-rds-creation-title">
          <h2>RDS creation</h2>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Instance type</mat-label>
            <input formControlName="dbInstanceType" readonly required type="text" matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Instance name</mat-label>
            <input formControlName="dbIdentifier"  required type="text" matInput>
            <mat-error *ngIf="this.S3RDSCreationDialog.get('dbIdentifier')">Only ASCII characters</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Database name</mat-label>
            <input formControlName="dbName" required type="text" matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Database engine</mat-label>
            <mat-select formControlName="engine" required>
              <mat-option *ngFor="let engine of databaseEngines"
                [value]="engine">
                {{ engine }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Database username</mat-label>
            <input formControlName="username"  required type="text" matInput>

          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Database password</mat-label>
            <input formControlName="password"  required type="password" matInput>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Database storage</mat-label>
            <input formControlName="allocatedStorage"  required type="number" matInput>
            <mat-error *ngIf="this.S3RDSCreationDialog.get('dbIdentifier')">Only ASCII characters</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="s3-rds-creation-submit-container">
        <button [disabled]="!S3RDSCreationDialog.valid" type="submit"
          color="primary" mat-raised-button>Create</button>
      </div>
    </form>
  </div>
</div>

