<div class="wrapper">
  <div class="login-wrapper">
    <h2>Welcome</h2>
    <div class="login-container">
      <form [formGroup]="SignIn">
        <div class="login-card" >
          <mat-form-field>
            <mat-label style="font-size: 16px;">Username:</mat-label>
            <input formControlName = "usernameCtrl"  [(ngModel)]="user.username" style="font-size: 16px;" matInput required type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label style="font-size: 16px;">Password</mat-label>
            <input formControlName = "passwordCtrl" [(ngModel)]="user.password" style="font-size: 16px;" matInput required type="password">
          </mat-form-field>
        </div>
        <button id='sign-in-button'[disabled]='!SignIn.valid' (click)='login()' mat-raised-button
        [ngStyle]="{'background-color':!SignIn.valid? '#3333' : '#333' }">Sign In</button>
      </form>

    </div>
  </div>
</div>
