div.asana-page-wrapper {

  div.asana-workspaces-container {}
}

div.asana-project-wrapper {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 0 1px #edeae9, 0 1px 4px 0 rgba(109, 110, 111, 0.08);

  div.project-label-container {
    padding: 15px;
    font-size: 20px;

    mat-form-field {
      font-size: 17px;

      mat-label {}
    }

  }

  div.project-container {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    justify-items: center;

    div.project-card {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      margin-bottom: 15px;
      cursor: pointer;

      div {

       img {
        width: 40px;
        filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(312deg) brightness(95%) contrast(80%);
       }
      }

      div.project-name {
        text-align: center;

        span {
          color: #333;
        }
      }
    }
  }

}
div.project-adding-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 50px;
}

p.project-adding-text {
  align-self: center;
  margin: 0;
}

mat-icon.project-adding-icon {
  font-size: 45px;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  cursor: pointer;
}

mat-spinner {
  max-width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px
}

p.project-title {
  font-size: 15px;
  padding: 12px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white;
}
