<div class="project-creation-dialog-wrapper">
  <div><h1>Gitlab Project Creation</h1></div>
  <div class="project-creation-title-container">
    <h2 class="project-creation-title">Gitlab Project main details</h2>
    <h2 class="project-creation-title">Gitlab Project branches</h2>
  </div>
  <form [formGroup]="creationGitlabProject"(ngSubmit)="createGitlabProject()">
    <div class="projec-creation-form-container">
      <div class="gitlab-project-meta-details-container">
        <div class="form-fields-container">
          <div>
            <mat-form-field>
              <mat-label>Project name</mat-label>
              <input formControlName="name"  (ngModelChange)="checkProjectNameIsUnique($event)" required type="text" matInput>
            </mat-form-field>
            <mat-error *ngIf="notExistName">This gitlab project's name already exist</mat-error>
          </div>
          <div>
            <mat-form-field appearance="fill">
              <mat-label>Project visibility</mat-label>
              <mat-select formControlName="visibility" name="food">
                <mat-option value="private">private</mat-option>
                <mat-option value="internal">internal</mat-option>
                <mat-option value="public">public</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Project description</mat-label>
              <input formControlName="description" required type="text"
                matInput>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div style="font: small-caption;"
        class="gitlab-project-branching-container">
        <div><p>Default branches will be created</p></div>
        <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            {{node.name}}
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild"
            matTreeNodePadding>
            <button type="button" mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' :
                'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>
      </div>
      <div style="margin-top:20px ;" class="gitlab-feature-branch-container">
        <div>
          <h2 class="project-creation-title">Gitlab Project feature branches</h2>
        </div>
        <h4>Asana Tasks to feature branch</h4>
        <div>
          <div class="asana-project-wrapper">
            <div class="project-label-container">
              <mat-form-field class="" appearance="fill">
                <mat-label>workspace</mat-label>
                <mat-select required [(value)]="selectedWorkspaceGid"
                  (valueChange)="loadAsanaProjects($event)" required>
                  <mat-option *ngFor="let Workspace of workspaces"
                    [value]="Workspace.gid">
                    {{ Workspace.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="project-mat-form-container"
                appearance="fill">
                <mat-label>projects</mat-label>
                <mat-select required [(value)]="selectedProjectGid"
                  (valueChange)="loadAsanaTask($event)" required>
                  <mat-option *ngFor="let project of projects"
                    [value]="project.gid">
                    {{ project.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <p class="project-title">Projects Tasks:</p>
            </div>
            <div class="project-container">
              <ng-template #project1>
                <div *ngFor="let task of tasks" class="project-card">
                  <div>
                    <mat-checkbox [disabled]="disabledCheckbox" formArrayName="tasks"
                      (change)="onChange(task.name, $event.checked, $event)"
                      class="example-margin" [value]="task.name">{{task.name}} {{task.alreadyCreatedBaranch}}</mat-checkbox>
                  </div>
                </div>
              </ng-template>
              <mat-spinner style="margin: 20px; width: 50px; height: 50px;" *ngIf="!isLoading; else project1"></mat-spinner>
              <div *ngIf="isLoading == true && tasks.length === 0 &&
                selectedProjectGid != ''">
                <p>There aren't any tasks for this project.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="project-creation-submit-container">
      <button [disabled]="!(creationGitlabProject.valid && !notExistName)" type="submit"
        color="primary" mat-raised-button>Create</button>
    </div>
  </form>
</div>
