<div class="aws-page-wrapper" [ngSwitch]="awsStatus">
  <div *ngSwitchCase="'Bad AWS access keys'">
    <app-aws-access-keys-adding
      (addingAwsAccessKeyEvent)="addAccessKeys($event)"></app-aws-access-keys-adding>
  </div>
  <div *ngSwitchCase="'There are not any AWS account'">
    <app-aws-access-keys-adding
      (addingAwsAccessKeyEvent)="addAccessKeys($event)"></app-aws-access-keys-adding>
  </div>
  <div class="instance">
    <mat-spinner *ngIf="!isLoading; else instance1"></mat-spinner>
  </div>
  <ng-template #instance1>
    <div *ngSwitchCase="'AWS account is active'">
      <div class="aws-project-wrapper">
        <div class="aws-project-nav">
          <div>
            <p class="aws-project-label">AWS EC2 instances:</p>
          </div>
          <div class="aws-project-adding-container">
            <mat-icon (click)="openEC2ProjectCreationDialog()"
              class="aws-adding-icon">add_box</mat-icon>
            <p class="aws-adding-text">Instance</p>
          </div>
        </div>
        <p>Running Instances:</p>
        <div class="instance-container"
          (cdkDropListDropped)="drop($event)"
          cdkDropListConnectedTo="inactive-instance"
          [cdkDropListData]="awsEC2InstancesActive" cdkDropList id=active-instance
          cdkDropList>
          <div *ngFor="let instance of awsEC2InstancesActive" [cdkDragData]="instance"
            cdkDrag class="instance-card example-box">
            <div>
              <img src="../../../../assets/images/aws.png" alt="aws-icon">
            </div>
            <div class="instance-name">
              <span>{{instance.tagName}}</span>
            </div>
          </div>
        </div>
        <p style="margin-top:10px;">Stopped Instances:</p>
        <div class="instance-container"
          (cdkDropListDropped)="drop($event)"
          cdkDropListConnectedTo="active-instance"
          [cdkDropListData]="awsEC2InstancesInactive" cdkDropList id="inactive-instance"
          cdkDropList>
          <div *ngFor="let instance of awsEC2InstancesInactive" [cdkDragData]="instance"
            cdkDrag class="instance-card example-box">
            <div>
              <img src="../../../../assets/images/aws.png" alt="aws-icon">
            </div>
            <div class="instance-name">
              <span>{{instance.tagName}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
