<div class="asana-page-wrapper" [ngSwitch]="asanaStatus">
  <div *ngSwitchCase="'Bad asana personal access token'">
    <app-adding-asana-personal-access-token
      (addingAsanaPersonalAccessTokenEvent)="addPersonalAccessToken($event)"></app-adding-asana-personal-access-token>
  </div>
  <div *ngSwitchCase="'AsanaPersonalAccessToken is null'">
    <app-adding-asana-personal-access-token
      (addingAsanaPersonalAccessTokenEvent)="addPersonalAccessToken($event)"></app-adding-asana-personal-access-token>
  </div>
  <div *ngSwitchCase="'Connection timeout'">
    <app-connection-timeout></app-connection-timeout>
  </div>
  <div class="workspaces" label="Workspaces">
    <mat-spinner *ngIf="!isLoading; else workspace1"></mat-spinner>
  </div>
  <ng-template #workspace1>
    <div *ngSwitchCase="'Asana account is active'">
      <div class="asana-project-wrapper">
        <div class="project-label-container">
          <mat-form-field class="" appearance="fill">
            <mat-label>workspace</mat-label>
            <mat-select [(value)]="selectedWorkspaceGid"
              (valueChange)="loadAsanaProjects($event)" required>
              <mat-option *ngFor="let Workspace of workspaces"
                [value]="Workspace.gid" >
                {{ Workspace.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <p class="project-title">Projects:</p>
          </div>
        </div>
        <div class="project-adding-container">
          <mat-icon (click)="openAsanaProjectCreationDialog()"
            class="project-adding-icon">add_box</mat-icon>
          <p class="project-adding-text">Project</p>
        </div>
        <div class="project-container">
          <div *ngFor="let project of projects" class="project-card" (click)="loadAsanaTasksForProject(project.gid)">
            <div>
              <mat-icon class="project-icon">horizontal_split</mat-icon>
            </div>
            <div class="project-name">
              <span>{{ project.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
